@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
body,html{
    width:100%;
    height: 100vh;
}
:root{
    --Cyan: hsl(180, 66%, 49%);
    --Dark_Violet: hsl(257, 27%, 26%);
    --Red: hsl(0, 91%, 73%);
    --Gray: hsl(0, 0%, 75%);
    --Grayish_Violet: hsl(257, 7%, 63%);
    --Very_Dark_Blue: hsl(255, 11%, 22%);
    --Very_Dark_Violet: hsl(260, 8%, 14%);
    --font:"Poppins", sans-serif;
}
body{
    font-size: 18px;
    font-family: var(--font);
}
#menu .navbar-nav {
    background-color: var(--Dark_Violet);
    border-radius: 10px;
    position: absolute;
    z-index: 10;
}
#div_sec_one{
    margin: auto;
    max-width: 500px;
}
#menu{
  position: relative;
  z-index: 3;
}
nav.navbar {
  position: relative;
  z-index: 10;
}
#menu .navbar-nav li a{
    color: white;
    margin: 0.4em;
}
.button{
    width: 90%;
    max-width: 300px;
    border-radius: 50px;
    padding: 9px;
    background-color: var(--Cyan);
    border: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.369);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.233);
    color: white;
    transition: 0.2s ease ;
}
.button:hover{
    transform: scale(1.05);
    background-color:hsl(180, 55%, 74%);

}
.main_image{
    background-position: right;
    max-width: 500px;
}
#sec_one{
    overflow-x: hidden;
    margin-top: 1em;
}
h1{
    font-weight: 700;
    font-size: 2em;
    color: var(--Very_Dark_Blue);
}
p{
    color: var(--Grayish_Violet);
}
main .button_main{
    margin-top: 1em;
    padding: 0.7em 2.2em;
    max-width: 200px;

}
#sec_two{
    width: 90%;
    position: relative;
    padding: 1.3em;
    border-radius: 10px;
    margin: auto;
    margin-top: 5em;
    background: var(--Dark_Violet) url(../images/bg-shorten-mobile.svg) no-repeat;
    background-position: right top;
}
#div_sec_two{
    background-image: linear-gradient(to bottom, white 51%,hsla(258, 7%, 63%, 0.154) 50%);
}
#links{
    background-color:hsla(258, 7%, 63%, 0.154) !important;
    padding-top: 2em;
    max-height: 50vh;
    overflow-y: scroll;
}
#sec_two input{
    padding: 0.8em;
    max-width: 500px;
    margin: auto;
}
#sec_two ::placeholder{
    color: var(--Gray) !important;
}
#sec_two button{
    border: 1px solid rgba(255, 255, 255, 0.463);
    width: 100%;
    border-radius: 5px;
    padding: 0.6em;
    margin: auto;
    border-radius: 10px;
}
.sections{
    background-color: hsla(258, 7%, 63%, 0.154);
}
#advanced{
    padding-top: 6em;
    padding-bottom: 3em;
}
#advanced p{
    max-width: 510px;
    margin: auto;
}
h2{
    font-size: 1.6em;
    font-weight: 700;
    margin-bottom: 1em;
}
#div_articles article div{
    border: 1px solid rgb(255, 255, 255);
    position: absolute;
    top: -1%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90px;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Dark_Violet);
    border-radius: 50%;
    transition: 0.4s ease;
}
#div_articles article:hover{
    transform: scale(1.02);
}

#div_articles article{
    margin: auto;
    width: 90%;
    max-width: 350px;
    position: relative;
    margin-top: 6em;
    background-color: white;
    padding: 1.5em 1.4em;
    border-radius: 5px;
    font-size: 0.9em;
    z-index: 2em;
}
h3{
    margin: 2em 0em 1em 0em;
    font-weight: 700;
}
#div_articles{
    position: relative;
    padding-bottom: 4em;
}
#line{
    width: 10px;
    background-color: var(--Cyan);
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

}
#boots{
    background: var(--Dark_Violet) url(../images/bg-boost-mobile.svg);
    background-position: center top;
    background-size: cover;
    height: 38vh;
}
#boots h2{
    margin: 0em;
    font-size: 1.4em;
}
footer {
  background-color: var(--Very_Dark_Violet);
  color: white;
}

footer .logo {
    width: 30%;
    filter: brightness(0) saturate(0%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
  margin-bottom: 1em;
}

footer p:hover{
    color: var(--Cyan);
}
footer h4 {
  margin-bottom: 1em;
  font-size: 1.1em;
}

footer p {
    cursor: pointer;
  margin-bottom: 0.5em;
  color: var(--Grayish_Violet);
}

footer div  img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

footer #imagens_icons img:hover {
  transform: scale(1.1);
  filter: brightness(0) saturate(100%) invert(59%) sepia(99%) saturate(543%) hue-rotate(125deg) brightness(90%) contrast(95%);
}
.attribution a {
  color: var(--Cyan);
  text-decoration: none;
  font-size: 16px;
}
@media (min-width: 576px) {
    #div_articles article{
        text-align: left;
    }
       #sec_two button{
        width: 20%;
        min-width: 140px;
    }
    .button_links{
        max-width: 100px;
    }
       #sec_two input{
        max-width: 76%;
    }
  

}

@media (min-width: 768px) {
    #line{
        display: none;
    }
    #menu .navbar-nav {
    background-color: transparent;
    }
    #menu .navbar-nav li a{
        color: var(--Grayish_Violet);
        margin: 0.4em;
    }
    #menu .navbar-nav li a:hover{
        color: var(--Very_Dark_Blue);
    }

   #menu .button{
        width:130px;
    }
    #menu hr{
        display: none;
    }
    #sec_one h1{
        font-size: 3em;
        margin-top: 2em;
    }
    #advanced h2{
        font-size: 2.1em;
    }
}

/* Large (lg) - ≥ 992px */
@media (min-width: 992px) {
    nav{
        width: 82%;
        margin: auto;
    }
    #div_sec_one{
        margin: 0%;
        text-align: left !important;
    }
    #sec_one{
    overflow-x: hidden;
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91%;
    margin-left: auto;

    } #sec_two{
        width: 80%;
        padding: 3em;
        background-image: url(../images/bg-shorten-desktop.svg);
        background-position: center;
        background-size: cover;
    }
    #boots{
        background-image: url(../images/bg-boost-desktop.svg);
    }

    #div_articles{
        width: 80%;
        margin: auto;
    }
    #boots h2{
        font-size: 1.8em;
    }
    .sing{
        margin-left: 1em;
    }
    .div_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        max-width: 30%;
        gap: 1em;
    }
    .card_links{
        width: 80% !important;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .button_links{
        margin-top: 0em ;
    }
}
@media (min-width: 1200px) {
    .main_image{
    background-position: right;
    max-width: 600px;
    }
 
}

@media (min-width: 1358px) {
     #line{
        display: inline-block  !important;
        width: 75%;
        height: 8px;
    }
    #article_two{
        margin-top: 9em !important;
    }
     #article_three{
        margin-top: 12em !important;
    }
    #div_articles article div{
    top: -1%;
    left: 20%;
  
}
 
}

#message{
    font-size: 16px;
    font-style: italic;
    position: absolute !important;
    z-index: 40;
    bottom: 0px;
    left: 5%;
}
.erro #url::placeholder{
    color: var(--Red) !important;
}

#links div p{
    text-align: start;
    margin-bottom: 0em;
    font-size: 16px;
    color: var(--Very_Dark_Violet);
}
.link1{
    word-wrap: break-word;
}
.card_links{
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    margin: auto;
    margin-top: 1em;
}
.button_links{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1em;
    margin: auto;
}
.p_links{
    color: var(--Cyan) !important;
    word-wrap: none;

}
.mudaCorBut{
    background-color: var(--Dark_Violet);
}